<!--
****************************************************************************
#
# This file is part of the Vilfredo Client.
#
# Copyright © 2009-2014 Pietro Speroni di Fenizio / Derek Paterson.
#
# VilfredoReloadedCore is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation version 3 of the License.
#
# VilfredoReloadedCore is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
# for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with VilfredoReloadedCore.  If not, see <http://www.gnu.org/licenses/>.
#
****************************************************************************
-->
<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Vilfredo Client</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!--
		<link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap.css"/>
		-->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom-styles/styles.css') }}">
		<!--
		<link rel="stylesheet/less" type="text/css" href="static/custom-styles/custom-bootstrap.less"/>
		-->
		<!-- HTML5 shim and Respond.js IE8 agree of HTML5 elements and media queries -->
    	<!--[if lt IE 9]>
      	<script src="static/bootstrap/docs-assets/js/html5shiv.js"></script>
      	<script src="static/bootstrap/docs-assets/js/respond.min.js"></script>
    	<![endif]-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/1.10.2/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/knockout.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/knockout-mapping-debug.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/svg-1.4.4/jquery.svg.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.svgdom.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/cookies/jquery.cookie.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/purl-master/purl.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/charCount.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vga.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/knockout.validation.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='localization/en-US.js') }}"></script>
		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery.cookiebar/jquery.cookiebar.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookiebar/jquery.cookiebar.js') }}"></script>
		
		{{ flask_util_js.js }}
    </head>
    <body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top main">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button> <a class="navbar-brand" href="#">Vilfredo goes to Athens</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a class="home" href="">Home</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="https://github.com/pietrosperoni/Vilfredo/wiki">About</a>&gt;
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
					<li data-bind="visible: isLoggedOut"> 	
					   <a class="btn btn-primary btn-lg navbutton" role="button" data-toggle="modal" data-target="#login" href="#login">Login</a>
					</li>
					
					<li data-bind="visible: isLoggedOut"> 	
					   <a class="btn btn-info btn-lg navbutton" role="button" data-toggle="modal" data-target="#register" href="#register">Register</a>
					</li>
						<!-- Account dropdown begin -->
						<li data-bind="visible: userid" class="userdata dropdown">
						
						<div class="btn-group">
						  <button type="button" class="btn btn-success dropdown-toggle navbutton" data-toggle="dropdown">
						    <span data-bind="text: username" id="currentuser"></span> <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="#">My Details</a></li>
						    <li><a href="#">Change Password</a></li>
							<li><a href="#">My Questions</a></li>
							<li><a class="alglink" href="#">Algorithms</a></li>
						    <li class="divider"></li>
						    <li><a data-bind="click: logout"  href="#">Logout</a></li>
						  </ul>
						</div>
						</li>
						
						<li data-bind="visible: userid" class="userdata">
							<button data-bind="click: logout" type="button" class="btn btn-default navbutton navlogout">
						     Logout
						  </button>
						</li>
						
						</ul>
					</li><!-- Account dropdown end -->
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- navbar -->

	<div class="container main">
		
		<div class="jumbotron intro">
		  <h1>Welcome to Vilfredo</h1>
		  <p>...</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a> </p>
		</div>
		
		<!-- <div class="votesmap"></div> -->
		
		<!-- <div id="cvtriangle"></div> -->
	
		<h1>Active Questions</h1>
		
		<div class="notloggedin">
			<div data-bind="visible: currentUserViewModel.isLoggedOut">	
				<h3>You must log in or register to use Vilfredo.</h3>
			</div>
			<div data-bind="visible: currentUserViewModel.isLoggedIn() && questionsViewModel.questions().length == 0">
				<h3>You are not currently participating in any questions.</h3>
			</div>
		</div>
		
		
		<div data-bind="visible: questionsViewModel.questions().length" class="all-questions">
		<div class="row">
			<div class="col-md-12 icons new panel">
				<div class="panel-heading">
					<span rel="tooltip" title="Please Register or Log In to Ask a Question" class="pointer">
					<a data-bind="visible: currentUserViewModel.isLoggedOut" class="btn btn-success btn-md" role="button" disabled>Ask a Question</a></span>
					<a data-bind="click: beginNewQuestion, visible: currentUserViewModel.isLoggedIn" class="btn btn-success btn-md" role="button">Ask a Question</a>
                </div>
                <div class="panel-body">
				<div class="">
					<!-- ko foreach: questions -->
					<!-- ko if: phase() == "writing" && $root.is_new_question($data) -->
					<div class="item">
					<a rel="tooltip" title="not yet implemented" data-bind="attr: { href: link, title: $root.tooltip($data) }">
					<span class="glyphicon glyphicon-tree-deciduous questicon" aria-hidden="true"></span> 
					<span data-bind="text: title"></span></a> by <span data-bind="text: author"></span>
					<!-- ko if: $root.minimum_time_passed($data) -->
					<span rel="tooltip" class="glyphicon glyphicon-time questicon" aria-hidden="true" title='This question is ready to be moved on. The questioner can do it at any time. If you still have not proposed your possible answers, please do so as soon as possible'></span>
					<!-- /ko -->
					<!-- ko if: $root.maximum_time_passed($data) -->
					<span rel="tooltip" class="glyphicon glyphicon-exclamation-sign questicon" aria-hidden="true" title='This question will soon be automatically moved on. If you still have not proposed your possible answers, please do so as soon as possible'></span>
					<!-- /ko -->
					</div>
					<!-- /ko -->
					<!-- /ko -->
				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 icons writing panel">
				<div class="panel-heading">
                  <h2 class="panel-title"><span class="glyphicon glyphicon-edit questhdricon" aria-hidden="true"></span> Propose an Answer to a Question</h2>
                </div>
                <div class="panel-body">
				<div class="">
					<!-- ko foreach: questions -->
					<!-- ko if: !consensus_found() && phase() == "writing" && !$root.is_new_question($data) -->
					
					<div class="item">
					<a rel="tooltip" title="not yet implememntd" data-bind="attr: { href: link, title: $root.tooltip($data) }">
					<span class="glyphicon glyphicon-tree-deciduous questicon" aria-hidden="true"></span>  
					<span data-bind="text: title"></span></a> by <span data-bind="text: author"></span>
					<!-- ko if: $root.minimum_time_passed($data) -->
					<span rel="tooltip" class="glyphicon glyphicon-time questicon" aria-hidden="true" title='This question is ready to be moved on. The questioner can do it at any time. If you still have not proposed your possible answers, please do so as soon as possible'></span>
					<!-- /ko -->
					<!-- ko if: $root.maximum_time_passed($data) -->
					<span rel="tooltip" class="glyphicon glyphicon-exclamation-sign questicon" aria-hidden="true" title='This question will soon be automatically moved on. If you still have not proposed your possible answers, please do so as soon as possible'></span>
					<!-- /ko -->
					</div>
					
					<!-- /ko -->
					<!-- /ko -->
				</div>
				</div>
			</div>
			<div class="col-md-6 icons voting panel">
				<div class="panel-heading">
                  <h4 class="panel-title"><span class="glyphicon glyphicon-check questhdricon" aria-hidden="true"></span> Vote all the Answers you Agree On</h4>
                </div>
                <div class="panel-body">
				<div class="">
					<!-- ko foreach: questions -->
					<!-- ko if: phase() == "voting" -->
					<div class="item">
					<a rel="tooltip" title="not yet implemented" data-bind="attr: { href: link, title: $root.tooltip($data) }">
					<span class="glyphicon glyphicon-tree-deciduous questicon" aria-hidden="true"></span> 
					<span data-bind="text: title"></span></a> by <span data-bind="text: author"></span>
					<!-- ko if: $root.minimum_time_passed($data) -->
					<span rel="tooltip" class="glyphicon glyphicon-time questicon" aria-hidden="true" title='This question is ready to be moved on. The questioner can do it at any time. If you still have not proposed your possible answers, please do so as soon as possible'></span>
					<!-- /ko -->
					<!-- ko if: $root.maximum_time_passed($data) -->
					<span rel="tooltip" class="glyphicon glyphicon-exclamation-sign questicon" aria-hidden="true" title='This question will soon be automatically moved on. If you still have not proposed your possible answers, please do so as soon as possible'></span>
					<!-- /ko -->
					</div>
					<!-- /ko -->
					<!-- /ko -->
				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 icons consensus panel">
				<div class="panel-heading">
                  <h2 class="panel-title"><span class="glyphicon glyphicon-thumbs-up questhdricon" aria-hidden="true"></span> Questions Which have Reached a Consensus</h2>
                </div>
                <div class="panel-body">
				<div class="">
					<!-- ko foreach: questions -->
					<!-- ko if: consensus_found() -->
					
					<div class="item">
					<a rel="tooltip" title="not yet implememntd" data-bind="attr: { href: link, title: $root.tooltip($data) }">
					<span class="glyphicon glyphicon-tree-deciduous questicon" aria-hidden="true"></span>
					<span data-bind="text: title"></span></a> by <span data-bind="text: author"></span>
					
					</div>
					
					<!-- /ko -->
					<!-- /ko -->
				</div>
				</div>
			</div>
		</div>
		</div> <!-- all-questions -->
		
	</div><!-- container -->


	<div id="footer">
	    <div class="container">
	      <p class="text-muted credit">&copy; 2009-2013 Pietro Speroni &amp; Derek Paterson </p>
	    </div>
	</div>
	
	
<!-- New Question Modal -->
	<div id="addquestion" class="modal fade" tabindex="=1" role="dialog" aria-labelledby="AddQuestionBox" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Ask a Question</h4>
	      </div>
	      <div class="modal-body">
		<div class="message alert alert-danger"></div>
		
		<form autocomplete="off" class="form-horizontal" role="form"> 
		<div class="form-group">
		    <label for="inputQuestionTitle" class="col-sm-2 control-label">Title</label>
		    <div class="col-sm-10">
			<span class="errormsg" data-bind="validationMessage: title"></span>
		      <input data-bind="value: title" type="text" class="form-control input-lg" id="inputQuestionTitle" placeholder="Title">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputQuestionBlurb" class="col-sm-2 control-label">Question Text</label>
		    <div class="col-sm-10">
			<span class="errormsg" data-bind="validationMessage: blurb"></span>
			<textarea data-bind="value: blurb" id="inputQuestionBlurb" class="form-control" rows="6" placeholder="Type your question here"></textarea>
		    </div>
		  </div>
		
		<div id="form-type-select" class="form-group">
			<label for="inputQuestionMinMoveTime" class="col-sm-2 control-label">Minimum</label>
			<div class="col-sm-10">
				<select data-bind="options: availableTimePeriods, optionsText: 'period', value: minimum_time" id="inputQuestionMinMoveTime"></select>
			</div>
		</div>
		<div id="form-type-select" class="form-group">
			<label for="inputQuestionMaxMoveTime" class="col-sm-2 control-label">Maximum</label>
			<div class="col-sm-10">
				<select data-bind="options: availableTimePeriods, optionsText: 'period', value: maximum_time" id="inputQuestionMaxMoveTime"></select>
			</div>
		</div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button data-bind="click: add" type="button" class="btn btn-primary">Submit</button>
			  <button data-bind="click: close" type="button" class="btn btn-default">Cancel</button>
		    </div>
		  </div>
		</form>
		</div><!-- /.modal-body -->
	    </div><!-- modal-content -->
	  </div><!-- modal-dialog -->
	</div><!-- modal -->
	
	
	
	<!-- Tri Voting Modal -->
	<div id="vote3waywindow" class="modal fade" tabindex="=1" role="dialog" aria-labelledby="VoteNowBox" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bind="click: close3WayTriangle" aria-hidden="true">×</button>
					<h4 class="modal-title">
						Please Vote
					</h4>
				</div>
				<div class="modal-body">
					<div class="show3waytriangle"></div>
				</div><!-- /.modal-body -->
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	

	<!-- Continuous Voting Modal -->
	<div id="votenowwindow" class="modal fade" tabindex="=1" role="dialog" aria-labelledby="VoteNowBox" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Please Vote</h4>
	      </div>
	      <div class="modal-body">
			<div class="modalvotesmap"></div>
		  </div><!-- /.modal-body -->
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- Login Modal shark -->
	<div id="login" class="modal fade" tabindex="=1" role="dialog" aria-labelledby="LoginBox" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">
						Log in
					</h4>
				</div>
				<div class="modal-body">
					<div class="message alert alert-danger"></div>
					<form autocomplete="on" class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputUsername" class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<span class="errormsg" data-bind="validationMessage: username"></span>
								<input data-bind="value: username, valueUpdate:'afterkeydown', event: { 'keypress': logEnter }" type="text" class="form-control input-lg" id="inputUsername" placeholder="Username">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<span class="errormsg" data-bind="validationMessage: password"></span>
								<input data-bind="value: password, valueUpdate:'afterkeydown', event: { 'keypress': logEnter }" type="password" class="form-control input-lg" id="inputPassword" placeholder="Password">
							</div>
						</div>
						<!--
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label><input data-bind="checked: remember" type="checkbox"> Remember me</label>
								</div>
							</div>
						</div>
						-->
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							 <button data-bind="click: dologin.bind($data)" type="button" class="btn btn-primary">Sign in</button> <button data-bind="click: close" type="button" class="btn btn-default">Cancel</button>
							<button data-bind="click: passwordResetViewModel().open.bind(), enable: true" type="button" class="btn btn-default">Forgotten Password</button>
							</div>
						</div>
					</form>
				</div><!-- modal-body -->
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- login modal -->
	
	
	
	<!-- Login Modal shark -->
	<div id="reset_pwd" class="modal fade" tabindex="=1" role="dialog" aria-labelledby="ResetBox" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">
						Reset Password
					</h4>
				</div>
				<div class="modal-body">
					<div class="message alert alert-danger"></div>
					<div class="intro">Enter the email you registered with and we will send you a link so you can create a new password.</div>
					<form autocomplete="on" class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputEmail" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<span class="errormsg" data-bind="validationMessage: email"></span>
								<input data-bind="value: email" type="text" class="form-control input-lg" id="inputEmail" placeholder="Account Email Address">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							 <button data-bind="click: reset.bind($data)" type="button" class="btn btn-primary">Send Request</button> <button data-bind="click: close" type="button" class="btn btn-default">Cancel</button>
							</div>
						</div>
					</form>
				</div><!-- modal-body -->
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- login modal -->
	
	

	
	<!-- Register Modal -->
	<div id="register" class="modal fade" tabindex="=1" role="dialog" aria-labelledby="RegisterBox" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">
						Register
					</h4>
				</div>
				<div class="modal-body">
					<div class="message alert alert-danger"></div>
					<p>Enter your details below. A confirmation email will be sent to the address you give after which you will be able to log in.</p>
					<form autocomplete="on" class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputUsername" class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<span class="errormsg" data-bind="validationMessage: username"></span>
								<input data-bind="value: username" type="text" class="form-control input-lg" id="inputUsername" placeholder="Username">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<span class="errormsg" data-bind="validationMessage: password"></span>
								<input data-bind="value: password" type="password" class="form-control input-lg" id="inputPassword" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<span class="errormsg" data-bind="validationMessage: email"></span>
								<input data-bind="value: email" type="text" class="form-control input-lg" id="inputEmail" placeholder="Email" type="email" required>
								<span class="help-block">A valid email address is required to activate your account and reset your password if you lose it.</span>

							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button data-bind="click: register" type="button" class="btn btn-primary">Register</button> 
								<button data-bind="click: close" type="button" class="btn btn-default">Cancel</button>
							</div>
						</div>
					</form>
				</div><!-- modal-body -->
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- register modal -->
	

	</body>
	<script type="text/javascript">
	function initPage()
	{
		console.log('initPage called...');
		$('.current-questions').show();
		
		$.when(currentUserViewModel.loadUser()).then(function()
		{
			console.log('loadUser completed...');
			if (currentUserViewModel.isLoggedIn())
			{
				console.log("User logged in: call fetchQuestions");
				questionsViewModel.fetchQuestions();
			}
		});
	}
	
	$(function() {
		currentUserViewModel = new CurrentUserViewModel();
		questionsViewModel = new QuestionsViewModel();
		newQuestionViewModel = ko.validatedObservable( new NewQuestionViewModel() );
		loginViewModel = ko.validatedObservable( new LoginViewModel() );
		registerViewModel = ko.validatedObservable( new RegisterViewModel() );
		passwordResetViewModel = ko.validatedObservable( new PasswordResetViewModel() );
		
		$.cookieBar({
			fixed: true, bottom: true, 
			forceShow: false, zindex: '1040', 
			effect: 'slide', autoEnable: false
		});
		
		initPage();
		
		//$('.votesmap').svg({onLoad: createVotesMap});
		
		$('#votenowwindow').on('show.bs.modal', function() {
			//console.log('votenowwindow modal shown...');
			$('.modalvotesmap').svg({onLoad: createVoteMap});
		})
		
		
		$('#login').on('hide.bs.modal', function(e) {
			loginViewModel().clear();
		})
		$('#register').on('hide.bs.modal', function(e) {
			registerViewModel().clear();
		})
	
		
		//$('#cvtriangle').svg({loadURL: STATIC_FILES + '/images/voting_triangle.svg', onLoad: initCVTriangleLarge});
		
		
		ko.validation.init({ insertMessages: false, decorateElement: true, errorClass: "errormsg" });
	
		ko.applyBindings(currentUserViewModel, $('.navbar')[0]);
		
		ko.applyBindings(loginViewModel, $('#login')[0]);
		
		ko.applyBindings(passwordResetViewModel, $('#reset_pwd')[0]);
		
		ko.applyBindings(questionsViewModel, $('.all-questions')[0]);
		
		ko.applyBindings(questionsViewModel, $('.notloggedin')[0]);
		
		ko.applyBindings(newQuestionViewModel, $('#addquestion')[0]);
		
		ko.applyBindings(registerViewModel, $('#register')[0]);
		ko.applyBindings(currentUserViewModel, $('.intro')[0]);
		
		$('.home').attr('href', VILFREDO_URL);
		$('.navbar-brand').attr('href', VILFREDO_URL);
		
		$('body').popover({
		    selector: '[rel="popover"]',
			trigger: 'hover',
			html: true,
			placement: 'top',
			content: 'hello world',
			title: 'Add your vote',
			content: '<div class="poptriangle"></div>'
		});
		
		$('body').on('show.bs.popover', function() {
  			console.log('popover displayed...');
		});
		$('body').on('hidden.bs.popover', function() {
  			console.log('popover hidden...');
		});	
		
		$('#addquestion').on('hide.bs.modal', function(e) {
			$(this).find(".form-control").val('').trigger("setcharcount");
			newQuestionViewModel().clear();
			$(this).find("button").removeAttr('disabled');
		})
		
		$('body').tooltip({
		    selector: '[rel=tooltip]',
			html: true,
			container: 'body'
		});
		
		
		$("#inputQuestionTitle").charCount({
			allowed: 120,		
			warning: 10,
			counterText: "Left" + " "
		});
		
		$("#inputQuestionBlurb").charCount({
			allowed: 10000,		
			warning: 9950,
			counterText: "Left" + " "
		});
		
		$('button').removeAttr('disabled');
				
		//$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
		$("textarea").jqBootstrapValidation();
		
		$(document).on({
		    mouseenter: function () {
		        $(this).addClass('over');
		    },
		    mouseleave: function () {
		        $(this).removeClass('over');
		    }
		}, ".question-blurb");		
	});
	</script>
</html>
