<!DOCTYPE html>
<!--
****************************************************************************
#
# This file is part of the Vilfredo Client.
#
# Copyright © 2009-2015 Pietro Speroni di Fenizio / Derek Paterson.
#
# VilfredoReloadedCore is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation version 3 of the License.
#
# VilfredoReloadedCore is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
# for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with VilfredoReloadedCore.  If not, see <http://www.gnu.org/licenses/>.
#
****************************************************************************
-->
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vilfredo - Fair Decision-Making</title>
        <meta name="description" content="Vilfredo allows groups from 5 to 20 people to ask open questions and reach consensus in a easy and fair way.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Vilfredo">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--
		<link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap.css"/>
		-->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom-styles/styles.css') }}">
		<!--
		<link rel="stylesheet/less" type="text/css" href="static/custom-styles/custom-bootstrap.less"/>
		-->
		<!-- HTML5 shim and Respond.js IE8 agree of HTML5 elements and media queries -->
    	<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/1.10.2/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/knockout-3.2.0.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/knockout-mapping-debug.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/svg-1.4.4/jquery.svg.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.svgdom.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.svgdom.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/cookies/jquery.cookie.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/purl-master/purl.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/charCount.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vga.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/knockout.validation.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='localization/en-US.js') }}"></script>
		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery.cookiebar/jquery.cookiebar.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookiebar/jquery.cookiebar.js') }}"></script>
		
		{{ flask_util_js.js }}
    </head>
    <body>
	<div class="container main">
		
		
		<div id="enter_code">
		
		</div>
		
		<div id="enter_password">
		<h1>Reset Password</h1>

		<p>Enter a new password.</p>

		<div class="message alert alert-danger"></div>
		
		<form autocomplete="off" class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-4">
				<span class="errormsg" data-bind="validationMessage: password"></span>
				<input data-bind="value: password" type="password" class="form-control input-lg" id="inputPassword" placeholder="Password">
			</div>
		</div>
		
		<div class="form-group">
		<label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
		<div class="col-sm-4">
			<span id="confirmpwd" class="errormsg"></span>
			<input data-bind="value: confirmpassword" type="password" class="form-control input-lg" id="inputConfirmPassword" placeholder="Confirm Password">
		</div>
	</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button data-bind="click: setnewpassword" type="button" class="btn btn-primary">Save New Password</button>
			</div>
		</div>
	</form>
	</div>

		
	</div>
	</body>
	<script type="text/javascript">
	function initPage()
	{
		console.log('initPage called...');
	}
	
	$(function() {
		//var reset_token = getQuerySegment('t');
		//console.log(reset_token);
		newPasswordViewModel = new NewPasswordViewModel();
		
		initPage();
		
		
		//$('#cvtriangle').svg({loadURL: STATIC_FILES + '/images/voting_triangle.svg', onLoad: initCVTriangleLarge});
				
		ko.validation.init({ insertMessages: false, decorateElement: true, errorClass: "errormsg" });
	
		ko.applyBindings(newPasswordViewModel, $('#enter_password')[0]);
		
		
		$('.home').attr('href', VILFREDO_URL);
		$('.navbar-brand').attr('href', VILFREDO_URL);
		
		$('body').popover({
		    selector: '[rel="popover"]',
			trigger: 'hover',
			html: true,
			placement: 'top',
			content: 'hello world',
			title: 'Add your vote',
			content: '<div class="poptriangle"></div>'
		});
		
		$('body').on('show.bs.popover', function() {
  			console.log('popover displayed...');
		});
		$('body').on('hidden.bs.popover', function() {
  			console.log('popover hidden...');
		});	
		
		$('#addquestion').on('hide.bs.modal', function(e) {
			$(this).find(".form-control").val('').trigger("setcharcount");
			newQuestionViewModel().clear();
			$(this).find("button").removeAttr('disabled');
		})
		
		$('body').tooltip({
		    selector: '[rel=tooltip]',
			html: true,
			container: 'body'
		});
		
		
		$("#inputQuestionTitle").charCount({
			allowed: 120,		
			warning: 10,
			counterText: "Left" + " "
		});
		
		$("#inputQuestionBlurb").charCount({
			allowed: 10000,		
			warning: 9950,
			counterText: "Left" + " "
		});
		
		$('button').removeAttr('disabled');
				
		//$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
		$("textarea").jqBootstrapValidation();
		
		$(document).on({
		    mouseenter: function () {
		        $(this).addClass('over');
		    },
		    mouseleave: function () {
		        $(this).removeClass('over');
		    }
		}, ".question-blurb");		
	});
	</script>
	</body>
</html>
