<!-- Add users -->
	<div id="add_users" class="modal fade" tabindex="=1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Invite Users</h4>
	      </div>
	      <div class="modal-body">
			<div class="message alert alert-danger"></div>
			<button data-bind="click: close_add_users.bind(), enable: true" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</button>
			<br><br>
			<form class="form-horizontal" role="form" autocomplete="off">
			
			<!-- ko if: users().length -->
			<div>
				<p>Below is a list of users you have already interacted with on Vilfredo.</p> <p>Select the permissions you wish to grant, then click the checkbox by the users you wish to add and click the <i>Invite Selected Users</i> button. All select users will be invited to participate in the question.</p>
			</div>
			<br/>
			<div class="form-group">
				<select size=1 data-bind="
    				options: questionPermissions,
				    optionsText: 'name',
				    optionsValue: 'id',
					value: selectedPermissions">
				</select>
			</div>	
			
			<div class="assoc_list">
			<!-- ko foreach: users -->	
			<div class="form-group" data-bind="css: { selected: selected() }">
				<div data-bind="text: username" class="col-sm-4"></div>
				<div class="col-sm-1">
					<input data-bind="checked: selected" type="checkbox">
				</div>	
			</div>
			<!-- /ko -->
			</div>
			
			<!-- Buttons -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				<button data-bind="click: add_users.bind(), enable: true" type="button" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Invite Selected Users</button>
			    </div>
			</div>
			<!-- /ko -->
			
			<div>
				You can add email addresses of people you would like to invite, separated by commas. This allows you to invite people who you have not yet interacted with or have not yet signed up to Vilfredo. We will email them instructions on how to participate in the question.
			</div>
			<br/>
			
			<div class="form-group">
				<select size=1 data-bind="
    				options: questionEmailPermissions,
				    optionsText: 'name',
				    optionsValue: 'id',
					value: selectedPermissions">
				</select>
			</div>
			
			<div data-bind="visible: emails_sent().length > 0">
			Emails Sent:
			<div data-bind="text: emails_sent" class="emails_semt"></div>
			</div>
			
			<div data-bind="visible: emails_already_sent().length > 0">
			Emails Already Sent:
			<div data-bind="text: emails_already_sent" class="emails_already_sent"></div>
			</div>
			
			<div data-bind="visible: emails_rejected().length > 0">
			Emails Rejected:
			<div data-bind="text: emails_rejected" class="emails_rejected"></div>
			</div>
			
			<div class="form-group">
				<input data-bind="value: user_emails" type="text" class="form-control input-md" id="inputEmails" placeholder="Add email addresses of people you would like to invite, seperated by commas">
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
			      
				<button data-bind="click: invite_by_email.bind(), enable: true" type="button" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Send Email Invitations</button>
			    </div>
			</div>
			
			</form>		
		</div><!-- /.modal-body -->
	    </div><!-- modal-content -->
	  </div><!-- modal-dialog stopped -->
	</div><!-- add_users modal -->