<!-- Start Google Analytics script, you can replace this for any other Analytics snippet, and the code will be inserted just after the start of HEAD tag -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  // replace UA-XXXXXXXX-X with your Google Analytics ID
  ga('create', 'UA-XXXXXXXX-X', 'auto');
  // Remove the comment to enable Demographics after enabling them on Google Analytics
  // ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
<!-- end Google Analytics script -->
