<div class="container">
	<ul class="list-inline">
	<li><p class="text-muted credit">Vilfredo 2.0.0 &copy; 2009-2015 <span xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Person"><span property="v:name">Pietro Speroni di Fenizio</span> &amp; <span property="v:name">Derek Paterson</span></span>.</p></li>
	<li><a href="https://github.com/fairdemocracy/vilfredo-core/wiki" target="_blank">About</a></li>
	<li><a href="https://github.com/fairdemocracy/vilfredo-core/wiki/FAQ" target="_blank">FAQ</a></li>
	<li> <a href="/privacy">Privacy</a></li>
	<li> <a href="https://github.com/fairdemocracy/vilfredo-client/issues" target="_blank">Report an Issue</a></li>
	</ul>
</div>
