<!-- HTML5 shim and Respond.js IE8 agree of HTML5 elements and media queries -->
   	<!--[if lt IE 9]>
     	<script src="static/bootstrap/docs-assets/js/html5shiv.js"></script>
     	<script src="static/bootstrap/docs-assets/js/respond.min.js"></script>
   	<![endif]-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/1.10.2/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/knockout-mapping-debug.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/svg-1.4.4/jquery.svg.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.svgdom.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/purl-master/purl.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/charCount.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vga.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/knockout.validation.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='localization/en-US.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/cookies/jquery.cookie.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookiebar/jquery.cookiebar.js') }}"></script>
	{{ flask_util_js.js }}

<script type="text/javascript">
