<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top main">

<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button> Vilfredo
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<button data-bind="click: home" type="button" class="btn btn-primary btn-lg navbutton">Home</button>
						<!-- Search box -->
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li data-bind="visible: isLoggedOut"> 	
					   <a id="reg_button" data-bind="click: registerViewModel().open" class="btn btn-info btn-lg navbutton" role="button">Register</a>
					</li>
					<li data-bind="visible: isLoggedOut"> 	
					   <a class="btn btn-primary btn-lg navbutton" role="button" data-toggle="modal" data-target="#login" href="#login">Login</a>
					</li>
						<!-- Account dropdown begin -->
						<li data-bind="visible: userid" class="userdata dropdown">
						
						<div class="btn-group">
						  <button type="button" class="btn btn-success btn-lg dropdown-toggle navbutton" data-toggle="dropdown">
						    <span data-bind="text: username" id="currentuser"></span> <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li class="disabled" title="Comming soon"><a href="#">My Details</a></li>
						    <li class="disabled" title="Comming soon"><a href="#">Change Password</a></li>
							<li class="disabled" title="Comming soon"><a href="#">My Questions</a></li>
							<li class="disabled" title="Comming soon"><a class="alglink" href="#">Algorithms</a></li>
						    <li class="divider"></li>
						    <li><a data-bind="click: logout"  href="#">Logout</a></li>
						  </ul>
						</div>
						</li>
						
						<li data-bind="visible: userid" class="userdata">
							<button data-bind="click: logout" type="button" class="btn btn-default btn-lg navbutton navlogout">
						     Logout
						  </button>
						</li>
						
						</ul>
					</li><!-- Account dropdown end -->
				</ul>
			</div><!--/.nav-collapse -->
		</div>
</div>
<!-- navbar -->
