<!-- Participants -->
	<div id="participants" class="modal fade" tabindex="=1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Question Participants and their Permissions</h4>
	      </div>
	      <div class="modal-body">
			<div class="message alert alert-danger"></div>
			
			<form class="form-horizontal" role="form" autocomplete="off">
				
			<div class="form-group">
				<div class="col-sm-6">
				
			</div>
			<div class="col-sm-2">
				Propose
			</div>
			<div class="col-sm-2">
				Vote
			</div>
			<div class="col-sm-2">
				Read
			</div> 
			</div>
			<h4>Current Participants</h4>
			<!-- ko foreach: permissions -->
			<div class="form-group">
				<div data-bind="text: username, attr: { title: 'Question author' }, css: {author: questionViewModel.author_id() == user_id}" class="col-sm-6 participant"></div>
				<div class="col-sm-2">
					<!-- Can Propose -->					
					<div data-bind="if: $parent.userPerms($data, Q_PROPOSE)">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
				<div class="col-sm-2">
					<!-- Can Vote -->
					<div data-bind="if: $parent.userPerms($data, Q_VOTE)">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
				<div class="col-sm-2">
					<div>
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
			</div>
			<!-- /ko -->
			<br>
			<div data-bind="visible: invitations_sent().length || invitations_sent().length">
			<h4>Invitations Pending</h4>
			<!-- ko foreach: invitations_sent -->
			<div class="form-group">
				<div data-bind="text: username" class="col-sm-6 participant pending"></div>
				<div class="col-sm-2">
					<!-- Can Propose -->					
					<div data-bind="if: $parent.userPerms($data, Q_PROPOSE)">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
				<div class="col-sm-2">
					<!-- Can Vote -->
					<div data-bind="if: $parent.userPerms($data, Q_VOTE)">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
				<div class="col-sm-2">
					<div>
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
			</div>
			<!-- /ko -->
			<!-- ko foreach: email_invitations_sent -->
			<div class="form-group">
				<div data-bind="text: displayEmail(email), attr: {'title': email}" class="col-sm-6 participant pending"></div>
				<div class="col-sm-2">
					<!-- Can Propose -->					
					<div data-bind="if: $parent.userPerms($data, Q_PROPOSE)">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
				<div class="col-sm-2">
					<!-- Can Vote -->
					<div data-bind="if: $parent.userPerms($data, Q_VOTE)">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
				<div class="col-sm-2">
					<div>
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
			</div>
			<!-- /ko -->
			<br>
			</div>
			<!-- Buttons -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
			      <button data-bind="click: close_permissions.bind(), enable: true" type="button" class="btn btn-primary">Close</button>
				  <button data-bind="click: add_users.bind(), enable: true" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Invite More Users</button>
			    </div>
			</div>
			</form>		
		</div><!-- /.modal-body -->
	    </div><!-- modal-content -->
	</div><!-- modal-dialog -->